//- svg(x='0px' y='0px' viewbox='0 0 212.6 212.6')
//-   path.st0(d='M189.28,5.3H23.32C13.37,5.3,5.3,13.37,5.3,23.32v165.96c0,9.95,8.07,18.02,18.02,18.02h165.96\
//-   c9.95,0,18.02-8.07,18.02-18.02V23.32C207.29,13.37,199.23,5.3,189.28,5.3z')
//-   g
//-     polygon.st1(points='51.76,162.97 71.08,162.97 99.59,109.75 89.99,91.62 	')
//-     polygon.st1(points='80.6,49.37 19.74,162.97 39.06,162.97 89.99,67.91 140.92,162.97 160.23,162.97 99.1,49.37 	')
//-     polygon.st1(points='131.39,49.37 113.26,49.37 137.03,95.94 172.94,162.97 192.25,162.97 	')

svg(x='0px', y='0px', viewBox='0 0 802.3 213.2')
  path.st0(d='M798.8,23.5v166.2c0,11-9,20-20,20H23.5c-11,0-20-9-20-20V23.5c0-11,9-20,20-20h755.3\
  C789.9,3.5,798.8,12.5,798.8,23.5z')
  g
    polygon.st1(points='346.6,163.3 365.9,163.3 394.5,110 384.9,91.9 	')
    polygon.st1(points='375.5,49.7 314.6,163.3 333.9,163.3 384.9,68.2 435.8,163.3 455.1,163.3 394,49.7 	')
    polygon.st1(points='426.3,49.7 408.1,49.7 431.9,96.2 467.8,163.3 487.1,163.3 	')
